numpy==1.19.4
pandas==1.0.3
scikit-learn==0.23.2
Scrapy==2.4.1
statsmodels==0.12.1
tmdbv3api==1.7.1
tqdm==4.53.0
typing-extensions==3.7.4.3
pip-tools==6.1.0
loguru==0.5.3
flake8==3.9.1
lightgbm==3.1.1
fastapi==0.63.0
uvicorn==0.13.4
holidays==0.11.1
vacances-scolaires-france==0.8.0